<!doctype html>
<html lang="en">
  <head>
    <script src="../src/thermostat.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Thermostat</title>
    <style>
      .displayContainer{
        border: 1px solid black;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        height: 50vh;
      }
      body{
          padding: 10vmax;
      }
    </style>
  </head>
  <body>

    <div class="row">

      <div class="col-md-4 displayContainer">
        <!-- temperature display -->
        <p>Temperature</p>

        <div class="row">
          <div class="col-md-7 tempDisplay">
            <p>Display</p>
            <p class='temperature'>24</p>
          </div>

          <!-- up down buttons -->
          <div class="col-md-5 upAndD">
            <div class="row">
              <div class ="up">&#x25B2;</div>
            </div>
            <div class="row">
              <div class ="down">&#x25BC;</div>
            </div>
          </div>

        </div>

        <div class="row">
          <!-- powersave -->
          <div class="col-md-6 powersave">
            <button class ="powersave" type="button">Powersave ON/OFF</button>
            <p class ="powersaveDisplay"> powersave set to: 25 </P>
          </div>

          <!-- Reset -->
          <div class="col-md-6 reset">
            <button class ="Reset" type="button">Reset</button>
          </div>
        </div>

        <!-- Energy Usage -->
        <div class="row">
          <div class="col-md-11 eneryUsage">
            <p class ="power-usage" style="background-color: lightgreen;">Energy Usage: </P>
          </div>
        </div>

        <!-- Current Temperature in London -->
        <div class="row">
          <div class="col-md-11 currentTempt">
            <section>
              <p>Current temperature: <span id="current-temperature">20</span></p>
              <select id="current-city">
                <option value="london">London</option>
                <option value="paris">Paris</option>
                <option value="tokyo">Tokyo</option>
              </select>
            </section>
          </div>
        </div>

      </div>
    </div>

    <!--  Jquery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="thermostatJquery.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
